.loding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.loding h1 {
  margin: 1.5rem 0;
  font-size: 1.2rem;
  width: 40%;
  font-weight: normal;
  text-align: center;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
